@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
	--Verydarkdesaturatedblue: hsl(238, 29%, 16%);
	--Softred: hsl(14, 88%, 65%);
	--Softviolet: hsl(273, 75%, 66%);
	--Softblue: hsl(240, 73%, 65%);
	--Verydarkgrayishblue: hsl(237, 12%, 33%);
	--Darkgrayishblue: hsl(240, 6%, 50%);
	--Lightgrayishblue: hsl(240, 5%, 91%);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Kumbh Sans', sans-serif;
	background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	width: 100vw;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	font-size: 12px;
}

.wrapper {
	background: white;
	border-radius: 1em;
	display: grid;
	grid-template-columns: 400px 1fr;
	grid-gap: 6rem;
	height: 509px;
	width: 920px;
	background-image: url(./images/bg-pattern-desktop.svg);
	background-repeat: no-repeat;
	background-position: 1260% 65%;
}

.answer {
	display: none;
	font-size: 0.8rem;
}

.active > .answer {
	display: block;
	padding-bottom: 1.3rem;
	color: black;
	transition: 0.3s ease-in-out;
}

.active img {
	transform: rotate(-180deg);
	transition: all 0.2s ease-in-out;
}

.active h3 {
	font-weight: 700;
}

.accordion-wrapper {
	margin-top: 70px;
	display: flex;
	flex-direction: column;
}

.accordion-questions {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.question-answer-accordion {
	width: 350px;
	border-bottom: 1px solid #e8e8ea;
}

.title-accordion {
	margin-top: 0;
	font-size: 3rem;
}

.question-title {
	font-size: 1.1rem;
	font-weight: 400;
	margin: 0.8rem 0rem;
	color: var(--Verydarkgrayishblue);
}

.question {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.question-title:hover {
	color: var(--Softred);
}

.question img {
	align-self: center;
}

.img-wrap {
	position: relative;
}

.img-inner-wrap {
	background-image: url(./images/illustration-woman-online-desktop.svg);
	height: 100%;
	background-repeat: no-repeat;
	background-position: 120% center;
}

.box {
	position: absolute;
	top: 45%;
	left: -25%;
}

.attribution {
	font-size: 11px;
	text-align: center;
	color: var(--Verydarkdesaturatedblue);
	margin-top: 1rem;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (max-width: 700px) {
	.wrapper {
		width: 350px;
		grid-template-columns: 1fr;
		grid-template-rows: 100px 1fr;
		grid-gap: 0.5rem;
		position: relative;
		padding: 1rem;
		height: 450px;
		margin-top: 2rem;
	}

	.img-wrap {
		background: url(./images/bg-pattern-mobile.svg);
		background-repeat: no-repeat;
		background-position: center 590%;
	}

	.img-inner-wrap {
		position: absolute;
		width: 100%;
		height: 200px;
		background-size: 72%;
		background-position: center;
		top: -129%;
	}

	.box {
		width: 55px;
		left: 19%;
		top: -30%;
	}

	.accordion-wrapper{
		margin-top: 0;
	}

	.question-answer-accordion{
		width: 100%;

	}

	.title-accordion{
		text-align: center;
		font-size: 1.6rem;
		margin-top: -0.8rem;
	}

	.question-title{
		font-size: 0.9rem;
	}

	.answer{
		font-size: 0.7rem;
	}
}
